body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-size: 30px;
}
.kaltron{
    color: red;
}
.electronics{
    color: yellowgreen;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.top{
    width: 50%;
    padding-left: 5%;
}
.top img {
    width: 70%;
    padding-left: 5%;

}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;

}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.
